//
//  ContainedDocument.xcconfig
//  ContainedDocument
//
//  Created by Matthew Massicotte on 2021-02-16.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = ContainedDocument
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.ContainedDocument
PRODUCT_MODULE_NAME = ContainedDocument
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 0.1.0

INFOPLIST_FILE = ContainedDocument/Info.plist
MACH_O_TYPE = staticlib

MACOSX_DEPLOYMENT_TARGET = 10.11
SWIFT_VERSION = 5.0
FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build/Mac $(PROJECT_DIR)/Carthage/Build/Mac/Static
